{% extends 'OCNAOBundle::layout.html.twig' %}

{% block title %}Erreur: {{ status_text }} | {% endblock %}

{% block body %}
    <h1>Oups, il s'emblerait qu'il y ai eu une erreur.</h1>

    <h2>La page demandé n'existe pas !</h2>
{% endblock %}
