<br>
<p>Bonjour {{username}},</p>
<br>
<p>Dans un premier temps, nous vous remercions infiniment pour votre participation sur notre site dédié à l’observation des oiseaux.</p>
<p>Sans votre soutien, notre recherche pour la sauvegarde de l’environnement ne serait pas la même !</p>
<p>Vous nous avez communiqué l’une de vos observation d’un/une “{{nomespece}}”, que vous avez aperçu le “{{date|date("d/m/Y")}}”.</p>
<p>Malheureusement, il semblerait qu’il y ai eu un petit soucis lors de la validation de vos données.</p>
<p>En effet, un de nos naturalistes a dû écarter votre observation pour le motif suivant :</p>
<br>
<p>{{content}}</p>
<br>
<p>Votre observation ne sera donc pas visible et ne sera pas pris en compte dans notre programme de recherche.</p>
<p>Nous vous invitons à suivre les recommandations exprimées par notre naturaliste ci-dessus afin de valider votre observation.</p>
<p>Si toutefois, il persiste un problème ou une incompréhension, n’hésitez pas à prendre contact avec nous via le Formulaire de contact.</p>
<br>
<p>Nous vous répondrons avec plaisir.</p>
<br>
<p>C’est avec émotion que l’ensemble de l’équipe vous remercie pour votre participation.</p>
<br>
<p>A très vite,</p>
<p>Nos Amis les Oiseaux</p>
