<br>
<p>Bonjour {{username}},</p>
<br>
<p>C’est avec un immense plaisir que nous vous confirmons votre changement de statut,</p>
<p>vous êtes désormais un Naturaliste !</p>
<br>
<p>A partir de maintenant, vous pourrez, en plus des fonctionnalités habituelles,</p>
<p>valider les observations soumises par les Observateurs du site.</p>
<br>
<p>Si à n’importe quel moment vous éprouvez des difficultés de compréhension ou pour toute question,</p>
<p>n’hésitez pas à prendre contact avec nous via le Formulaire de contact.</p>
<p>Nous vous répondrons avec plaisir.</p>
<br>
<p>C’est avec émotion que l’ensemble de l’équipe vous remercie pour votre l’intérêt que vous nous portez.</p>
<br>
<p>A très bientôt,</p>
<p>Nos Amis les Oiseaux</p>
