<br>
<p>Bonjour {{username}}, </p>
<br>
<p>Quel plaisir de vous revoir !</p>
<br>
<p>Nous avons bien reçu votre souhait d’aller plus loin dans notre aventure, en devenant Naturaliste.</p>
<p> Et nous vous en remercions grandement !</p>
<br>
<p>Un membre de notre équipe va prendre contact avec vous, au plus vite, afin de vous expliquer la procédure pour devenir Naturaliste.</p>
<p>Nous en profiterons pour vous expliquer plus en détail son rôle au sein de notre communauté.</p>
<br>
<p>En attendant, vous pouvez continuer à participer en Ajoutant une observation.</p>
<p>C’est avec émotion que l’ensemble de l’équipe vous remercie pour votre l’intérêt que vous nous portez.</p>
<br>
<p>A très bientôt,</p>
<p>Nos Amis les Oiseaux</p>
