{% trans_default_domain 'FOSUserBundle' %}

<div class="bgform">
  <div class="container form">
      <br>
      <br>
      <h1>CHANGER MES IDENTIFIANTS</h1>
      <br>
      <br>
      {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
          {{ form_widget(form) }}
      <br>
      <div class="text-right">
        <input class="btn-site-orange" style="width:221px;" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
      </div>
      {{ form_end(form) }}
      <br>
      <p><span style="color:red">* </span><span style="color:#ff5b00"> Champs obligatoire</span></p>
      <br>
      <br>
  </div>
</div>
