{% extends 'OCNAOBundle::layout.html.twig' %}

{% block title %}Mentions Légales | Nos Amis les Oiseaux{% endblock %}
{% block meta %}
  <meta name="description" content="Retrouvez toutes les mentions obligatoires sur notre communauté de passionnés d'ornithologie. " />
{% endblock %}



{% block body %}

<div class="mentions">
  <div class = "container">
    <h1>MENTIONS LÉGALES</h1>
    <h3 class="bold">Nos amis les oiseaux</h3>

    <p>Association Déclarée<br>
    Adresse du siège social : 14 rue du Nid, 67 000 Strasbourg.<br>
    Numéro SIREN : 538 664 583<br>
    Numéro SIRET : 538 664 583 00011<br>
    E-mail : <a href="mailto:contact@nosamislesoiseaux.fr" target="_blank">contact@nosamislesoiseaux.fr</a></p>

    <p>Représentée par M. Dujardin Michel, Fondateur.</p>

    <p><span class="bold">Directeur de la publication :</span> DUJARDIN Michel <br>
    E-mail : <a href="mailto:michel.dujardin@nosamislesoiseaux.fr" target="_blank">michel.dujardin@nosamislesoiseaux.fr</a></p>


    <p><span class="bold">Hébergeur :</span>&emsp;O.V.H.<br>
      &emsp; &emsp; &emsp; &emsp; &emsp; SAS au capital de 10 069 020 €<br>
      &emsp; &emsp; &emsp; &emsp; &emsp; RCS Lille Métropole 424 761 419 00045<br>
      &emsp; &emsp; &emsp; &emsp; &emsp; Code APE 2620Z<br>
      &emsp; &emsp; &emsp; &emsp; &emsp; N° TVA : FR 22 424 761 419<br>
      &emsp; &emsp; &emsp; &emsp; &emsp; Siège social : 2 rue Kellermann - 59100 Roubaix - France<br>
    </p>
    <br>
    <br>
    <h1>CONDITIONS GÉNÉRALES D’UTILISATION.</h1>
    <p>
      L’utilisation du site nosamislesoiseaux.fr implique l’acceptation des Conditions Générales d’Utilisation décrites ci-après.<br>
      Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.
    </p>
    <p>
      Ce site est normalement accessible à tout moment aux utilisateurs.
      Une interruption pour raison de maintenance technique peut être toutefois décidée par Michel Dujardin,
      qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.
    </p>
    <br>
    <h3 class="bold" style="padding-left: 20px;"> 1. Services</h3>
    <p>
      Nos Amis les Oiseaux s’engage, au travers du site nosamislesoiseaux.fr, à proposer :
    </p>
    <p style="padding-left: 20px;">
      - Des informations sur l’association Nos Amis les Oiseaux.<br>
      - Des informations sur le fonctionnement du site nosamislesoiseaux.fr.<br>
      - Un module de recherche d’oiseau, par espèce.<br>
      - Un module d’ajout d’observation d’un oiseau sur le terrain.<br>
      - Un module de création d’un profil personnel.<br>
    </p>
    <p>
      Tous les informations indiquées sur le site Nos Amis les Oiseaux sont données à titre indicatif, et sont susceptibles d’évoluer.
    </p>
    <br>
    <h3 class="bold" style="padding-left: 20px;"> 2. Propriété intellectuelles</h3>
    <p>
      Nos Amis les Oiseaux est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.<br>
      Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable.<br>
      Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
    </p>
    <br>
    <h3 class="bold" style="padding-left: 20px;"> 3. Données personnelles</h3>
    <p>
      Nos Amis les Oiseaux ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site nosamislesoiseaux.fr. L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie.
    </p>
    <p>
      Les données personnelles sont protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.<br>
      Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée,
      accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.
    </p>
    <p>
      Aucune information personnelle de l'utilisateur du site nosamislesoiseaux.fr n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers.
    </p>
    <br>
    <h3 class="bold" style="padding-left: 20px;"> 4. Loi applicable</h3>
    <p>
      Les parties conviennent que les présentes Conditions Générales de Vente sont soumises à l’application du droit français.
    </p>
    <br>
    <h3 class="bold" style="padding-left: 20px;"> 5. Cookies</h3>
    <p class="bold">Qu’est-ce qu’un cookie ?</p>
    <p>
      Un cookie est un petit fichier texte qui est téléchargé sur votre ordinateur ou votre appareil lorsque vous visitez certains sites web.<br>
      Les cookies nous fournissent des informations sur la façon dont les visiteurs utilisent notre site web, par exemple si c’est leur première visite ou s’ils sont des visiteurs fréquents.
      Nous utilisons ces informations pour améliorer l’expérience de navigation de l’ensemble de nos utilisateurs.<br>
      Ces informations collectées sont cruciales pour notre développement et c’est pour cela que nous tenons à vous remercier si vous les acceptez.
    </p>
    <p class="bold">Désactiver les cookies</p>
    <p>
      Tout simplement en supprimant vos données de navigation depuis les « Paramètres / Préférences » de votre navigateur.
    </p>
    <p>
      Sinon, il existe une autre solution, via un un module complémentaire : <br>
      Vous pouvez désactiver les cookies en installant une extension gratuite sur votre navigateur Internet, Ghostery.<br>
      Ghostery existe pour tous les grands navigateurs (Safari, Google Chrome, Firefox, Opéra et Internet Explorer) et existe aussi sous forme d’application pour les mobiles (Android et iPhone). Il est gratuit et par défaut, il n’enregistre aucune information sur ses utilisateurs afin de protéger votre vie privée.<br>
      Téléchargez <a href="https://www.ghostery.com/fr/" target="_blank">Ghostery</a> et installez-le sur le navigateur que vous utilisez. Vous avez ensuite deux possibilités : soit désactiver les cookies pour tous les sites web que vous visitez, soit choisir en temps réel les cookies que vous voulez bloquer ou autoriser.<br>
      <br>– Désactiver les cookies pour tous les sites web :<br>
      Dans les options de Ghostery, vous allez trouver une rubrique “Options de blocage” qui comporte plusieurs onglets, dont un onglet “Cookies”. Dedans, les cookies sont listés sous forme de 4 grandes catégories : Analytique, Balises, Publicité, Widgets. Libre à vous de choisir ce que vous souhaitez désactiver.<br>
      <br>– Désactiver les cookies en temps réel :<br>
      C’est ce que Ghostery fera par défaut. Il vous affiche une petite icône en forme de fantôme bleu dans votre navigateur, qui indique le nombre de cookies détectés sur chaque site. En cliquant sur cette icône, vous pouvez ensuite les bloquer au cas par cas.<br>
      Pour toute information sur le fonctionnement avancé de Ghostery, vous pouvez consulter leur FAQ qui répond aux <a href="https://www.ghostery.com/fr/faqs/" target="_blank">questions fréquentes sur l’utilisation de Ghostery</a>.
    </p>
    <p class="bold">Boutons sociaux</p>
    <p>
      Des boutons sociaux pour les sites de médias sociaux tiers sont utilisés pour permettre à nos utilisateurs de partager des produits Brute. Nous ne pouvons pas empêcher ces sites de collecter des informations vous concernant. Pour comprendre comment les sites de médias sociaux tiers utilisent les informations sur vos activités sur notre site web et sur internet, veuillez lire leurs Conditions d’utilisation et leurs Politiques de confidentialité respectives.<br>
      Si vous avez une question, n’hésitez pas à me contacter. Je vous répondrai avec plaisir !
    </p>
    <br>
    <h3 class="bold" style="padding-left: 20px;"> 6. Responsabilité</h3>
    <p>
      Nos Amis les Oiseaux ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site.<br>
      De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour.<br>
    </p>
  </div>
</div>

{% endblock %}
